# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.[v]env
*env/
!.venv/*.md
.env

# Images
*.png
*.jp[e]g

# Tabular files
*.xls[x]
*.csv
