<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>

<body>
    <div class="conteudo">
        <header class="cabecalho">ChatBot</header>
        <div class="area-sms">
            <div class="user-bot user">
                <div class="icon">
                    <img src="" />
                </div>
                <div class="mensagem">
                    <p>Olá como posso ajudar</p>
                </div>
            </div>

            <div class="user-user user">
                <div class="mensagem">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="user-bot user">
                <div class="icon">
                    <img src="" />
                </div>
                <div class="mensagem">
                    <p>Olá como posso ajudar2</p>
                </div>
            </div>

            <div class="user-user user">
                <div class="mensagem">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="user-bot user">
                <div class="icon">
                    <img src="" />
                </div>
                <div class="mensagem">
                    <p>Olá como posso ajudar3</p>
                </div>
            </div>

            <div class="user-user user">
                <div class="mensagem">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="user-bot user">
                <div class="icon">
                    <img src="" />
                </div>
                <div class="mensagem">
                    <p>Olá como posso ajudar3</p>
                </div>
            </div>

            <div class="user-user user">
                <div class="mensagem">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

        </div>

        <div class="area-envio">
            <div class="linhas">
                <input type="text" placeholder="Mensagem...">
                <button><img src="" /></button>
            </div>
        </div>
    </div>

</body>

</html>
