<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>

<body>
    <div id="chat-container">
        <div id="chat-messages"></div>
        <div id="user-input">
            <input type="text" id="user-input-field" placeholder="Digite sua mensagem...">
            <button id="send-button" onclick="sendMessage()">Enviar</button>
        </div>
    </div>

    <script>
        function sendMessage() {
            var userInput = document.getElementById("user-input-field").value;
            fetch('http://localhost:8000/receive-input', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ query: userInput }),
            })
                .then(response => response.json())
                .then(data => {
                    const chatMessages = document.getElementById("chat-messages");
                    const messageDiv = document.createElement("div");
                    messageDiv.innerHTML = `<p>Resposta do servidor: ${data.reranked_results}</p>`;
                    chatMessages.appendChild(messageDiv);
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                })
                .catch(error => {
                    console.error('Erro na solicitação:', error);
                });

            document.getElementById("user-input-field").value = "";
        }
    </script>
</body>

</html>
